<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>메인</title>
	</head>
	<body>
		<h1>메인 페이지</h1>
	    <hr>
	    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a><!-- 비로그인 -->
	    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a><!-- 로그인 -->
	    <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a><!-- 비로그인 -->
	    <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/myInfo}">내정보</a><!-- 로그인 & 멤버 -->
	    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a><!-- 로그인 & 관리자 -->
	</body>
</html>